h1{
  text-align: center;
  color: #50005a;
  font-family: sans-serif;
}


/* .category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #50005a;
  margin: 10px 50px 10px 50px;
} */

.category-title {
  text-align: center;
}